export KUBE_VERSION="1.21.3"
export KUBERNETES_VERSION="v1.21.3"
export KUSTOMIZE_VERSION="2.1.0"
export COREDNS_VERSION="1.8.0"
export METRICS_SERVER_VERSION="0.5.0"
export METALLB_VERSION="0.10.2"
export DASHBOARD_VERSION="2.0.1"
export CASAWS_VERSION="1.14.8"
export CASAZURE_VERSION="1.13.8"
export FLANNEL_VERSION="v0.14.0"
export CALICOCTL_VERSION="v3.18.1"
export ETCD_VERSION="v3.4.14"
export CNI_PLUGINS_VERSION="v0.9.0"
export KUBEVIRT_VERSION="v0.45.0"
export KUBEVIRT_CDI_VERSION="v1.36.0"
export KUBEVIRT_ADDON_VERSION="0.45.0"
export LUIGI_VERSION="0.3.0"
export MONITORING_VERSION="0.46.0"
export PROFILE_AGENT_VERSION="2.0.1"

