apiVersion: agent.pf9.io/v1
kind: Addon
metadata:
  name: __CLUSTER_ID__-metallb
  namespace: pf9-addons
spec:
  clusterID: __CLUSTER_ID__
  type: metallb
  version: "0.9.5"
  watch: true
  override:
    params:
    - name: MetallbIpRange
      value: __METALLB_IP_RANGE__
