apiVersion: agent.pf9.io/v1
kind: Addon
metadata:
  name: __CLUSTER_ID__-metrics-server
  namespace: pf9-addons
spec:
  clusterID: __CLUSTER_ID__
  type: metrics-server
  version: "0.3.6"
  watch: true
